.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex img {
    padding-right: 50px;
    padding-left: 50px;
}

.grid01 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px;
    text-align: center;
}

nav a {
    padding: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #852488;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

h1 {
    margin: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 600px) {
    header img {
        width: 70px;
        height: 70px;
    }
}