@media screen and (min-width: 500px) {
    header {
        background-color: rgb(62, 1, 177);
        color: aliceblue;
    }

    .grid02 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}
